<!DOCTYPE html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--title goes here-->
    <title>Snail Soli</title>


    <meta name="msapplication-TileColor" content="#ffffff">
    <link
            href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:100"
            rel="stylesheet"
            type="text/css"
    />

    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300"
            rel="stylesheet"
            type="text/css"
    />

    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
</head>
<body>
{{{body}}}
<script defer src="js/scripts.js"></script>
</body>
<style>
    html, body {
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    html {
        background-color: #000000;
    }

    form {
        text-align: center;
        padding-top: 20%;
    }

    input {
        font-size: 1em;
    }

    form button {
        font-size: 1em;
    }

    #white-bg {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }
</style>
</html>