<div id="white-bg">
  <form class="shifted" method="POST" action="/secret">
  <input type="password" name="password" placeholder="**********" required>
  <button type="submit">Reveal</button>
</form>
</div>
